
dl {
    margin: 0;
}

dd {
    display: none;
}

dt:hover{
    text-decoration: underline;
}

dl:hover dd {
    display: block;
    margin-left: 10px;
}

a {
    color: black;
    text-decoration: none;
}

dd a {
    color: gray;
    text-decoration: none;
}